# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/

# macOS
.DS_Store

# App outputs
exports/*
!exports/.gitkeep

# Local audio samples
sample_audio/*
!sample_audio/.gitkeep

# Build/package outputs
build/
dist/
*.spec
